IyBTZWUgaHR0cHM6Ly9oZWxwLmdpdGh1Yi5jb20vYXJ0aWNsZXMvaWdub3Jp\nbmctZmlsZXMvIGZvciBtb3JlIGFib3V0IGlnbm9yaW5nIGZpbGVzLgoKIyBk\nZXBlbmRlbmNpZXMKL25vZGVfbW9kdWxlcwovLnBucAoucG5wLioKLnlhcm4v\nKgohLnlhcm4vcGF0Y2hlcwohLnlhcm4vcGx1Z2lucwohLnlhcm4vcmVsZWFz\nZXMKIS55YXJuL3ZlcnNpb25zCgojIHRlc3RpbmcKL2NvdmVyYWdlCgojIG5l\neHQuanMKLy5uZXh0Lwovb3V0LwoKIyBwcm9kdWN0aW9uCi9idWlsZAoKIyBt\naXNjCi5EU19TdG9yZQoqLnBlbQoKIyBkZWJ1ZwpucG0tZGVidWcubG9nKgp5\nYXJuLWRlYnVnLmxvZyoKeWFybi1lcnJvci5sb2cqCi5wbnBtLWRlYnVnLmxv\nZyoKCiMgZW52IGZpbGVzIChjYW4gb3B0LWluIGZvciBjb21taXR0aW5nIGlm\nIG5lZWRlZCkKLmVudioKCiMgdmVyY2VsCi52ZXJjZWwKCiMgdHlwZXNjcmlw\ndAoqLnRzYnVpbGRpbmZvCm5leHQtZW52LmQudHMKCiMgU2VudHJ5IENvbmZp\nZyBGaWxlCi5lbnYuc2VudHJ5LWJ1aWxkLXBsdWdpbgoKLmVudi5sb2NhbAoK\nL3B1YmxpYy91cGxvYWRzCgojIFJlZGlzIHNuYXBzaG90IOKAlCBuZXZlciBj\nb21taXQgKG1heSBjb250YWluIHNlbnNpdGl2ZSBjYWNoZWQgc2Vzc2lvbi9x\ndWV1ZSBkYXRhKQpkdW1wLnJkYgo=